header {
    background: url("../img/bg-slider-06.jpg") no-repeat center/cover;

    nav {
        display: grid;
        grid-template-columns: 17.33% 69.33% 13.33%;
        max-width: 71.6%;
        min-width: 800px;
        margin: 0 auto;
        padding: 23px 0;
        align-items: center;

        @media screen and (max-width: 830px) {
            min-width: 650px;
        }

        @media screen and (max-width: 675px) {
            min-width: 200px;
            grid-template-columns: 50% 50%;
        }

        @media screen and (max-width: 230px) {
            min-width: 100px;
            grid-template-columns: 50% 50%;
        }

        .nav-left {

            @media screen and (max-width: 830px) {
                display: inline-block;
                text-align: left;
            }

            h2 {
                color: $color1;
                font-family: $font2;
                font-size: 3rem;

                @media screen and (max-width: 230px) {
                    font-size: 2rem;
                }
            }
        }

        .nav-center {
            ul {
                display: flex;
                justify-content: space-between;

                li {
                    transition: 0.6s ease;

                    &:hover {
                        transform: scale(1.1);
                    }

                    a {
                        font-family: $font1;
                        text-transform: uppercase;
                        font-size: 0.9rem;
                        transition: 0.4s ease;

                        &:hover {
                            font-weight: bold;
                        }

                        @media screen and (max-width: 830px) {
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            @media screen and (max-width: 675px) {
                display: none;
            }
        }

        .nav-right {
            display: flex;
            justify-content: flex-end;

            ul {
                width: 85px;
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 675px) {
                    width: 110px;
                }

                @media screen and (max-width: 230px) {
                    width: 50px;
                }

                @media screen and (max-width: 230px) {
                    width: 50px;
                }

                @media screen and (max-width: 175px) {
                    width: 30px;
                }

                li {
                    a {

                        i {
                            transition: 0.3s ease;

                            &:hover {
                                transform: scale(1.4);
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 830px) {
                padding-left: 20px;
            }

            @media screen and (max-width: 230px) {
                padding: 0px;
                justify-content: center;
            }
        }
    }

    .header-content {
        padding: 206px 0 350px;

        @media screen and (max-width: 592px) {
            padding: 125px 0 300px;
        }

        p {
            color: $color4;
            font-family: $font2;
            font-size: 3.7rem;
            line-height: 0px;

            @media screen and (max-width: 592px) {
                font-size: 2.5rem;
                line-height: 40px;
                margin-bottom: 15px;
            }
        }

        h1 {
            color: $color1;
            font-family: $font3;
            text-transform: uppercase;
            font-size: 4rem;
            letter-spacing: 13px;
            margin-bottom: 40px;

            @media screen and (max-width: 592px) {
                font-size: 2.6rem;
            }

            @media screen and (max-width: 202px) {
                font-size: 1.6rem;
            }
        }

        img {
            width: 33px;
        }

        h3 {
            color: $color1;
            margin-top: 41px;
            text-transform: uppercase;
            font-family: $font1;
            font-weight: normal;
            letter-spacing: 7px;
            font-size: 1rem;

            @media screen and (max-width: 492px) {
                max-width: 350px;
                margin: 41px auto 0;
            }

            @media screen and (max-width: 202px) {
                font-size: 0.8rem;
            }
        }
    }
}