.section1 {
    background: url("../img/bg-menu-01.jpg") no-repeat bottom;
    background-color: $color2;

    .menu {
        max-width: 52.5%;
        min-width: 980px;
        margin: 0 auto;
        padding: 75px 0 150px;

        @media screen and (max-width: 1020px) {
            min-width: 490px;
        }

        @media screen and (max-width: 512px) {
            min-width: 150px;
            max-width: 90%;
        }

        @media screen and (max-width: 178px) {
            min-width: 100px;
            max-width: 99%;
        }

        .menu-header {

            h4 {
                font-family: $font2;
                color: $color4;
                font-size: 2.5rem;
                font-weight: normal;
                margin-bottom: 40px;

                @media screen and (max-width: 178px) {
                    font-size: 2rem;
                }
            }

            .nav-menu {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    max-width: 96%;
                    margin: 0 auto;

                    @media screen and (max-width: 218px) {
                        display: none;
                    }

                    li {
                        margin: 35px 0 50px;
                        transition: 0.6s ease;

                        &:hover {
                            transform: scale(1.2);
                        }

                        a {
                            font-family: $font1;
                            font-size: 1.3rem;
                            position: relative;

                            &:after {
                                content: "";
                                width: 100%;
                                height: 1px;
                                position: absolute;
                                background: $color3;
                                left: 50%;
                                transform: translate(-50%, 35px);
                                transition: 0.4s ease;
                                transform-origin: center;

                                @media screen and (max-width: 1200px) {
                                    transform: translate(-50%, 30px);
                                }

                                @media screen and (max-width: 1020px) {
                                    transform: translate(-50%, 28px);
                                }

                                @media screen and (max-width: 512px) {
                                    transform: translate(-50%, 24px);
                                }
                            }

                            &:hover:after {
                                width: 0%;
                            }

                            @media screen and (max-width: 1200px) {
                                font-size: 1.1rem;
                            }

                            @media screen and (max-width: 1020px) {
                                font-size: 1rem;
                            }

                            @media screen and (max-width: 512px) {
                                font-size: 0.9rem;
                            }

                            @media screen and (max-width: 375px) {
                                font-size: 0.8rem;
                            }

                            @media screen and (max-width: 270px) {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }

        .menu-container {
            background: $color1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "dish1 dish5"
                "dish2 dish6"
                "dish3 dish7"
                "dish4 dish8";
            padding: 18px 0 19px;
            border-top: 5px solid $color4;

            @media screen and (max-width: 1020px) {
                display: block;
            }

            .dish {
                border-bottom: 1px dashed $color3;
                display: grid;
                grid-template-columns: 28.34% 60.73% 10.93%;
                padding: 36px 0;
                margin: 0 22px;
                align-items: center;

                @media screen and (max-width: 440px) {
                    margin: 0 11px;
                }

                @media screen and (max-width: 355px) {
                    grid-template-columns: 26.34% 55.73% 17.93%;
                }

                @media screen and (max-width: 176px) {
                    margin: 0;
                }

                .dish-img {

                    img {
                        width: 112px;
                        border-radius: 60px;

                        @media screen and (max-width: 512px) {
                            width: 90px;
                        }


                        @media screen and (max-width: 440px) {
                            width: 80px;
                        }

                        @media screen and (max-width: 355px) {
                            width: 60px;
                        }

                        @media screen and (max-width: 309px) {
                            width: 99%;
                        }
                    }
                }

                .dish-name {
                    text-align: left;
                    max-width: 90%;

                    h3 {
                        font-family: $font1;
                        text-transform: uppercase;
                        font-size: 1rem;
                        margin-bottom: 5px;

                        @media screen and (max-width: 355px) {
                            font-size: 0.9rem;
                        }

                        @media screen and (max-width: 309px) {
                            font-size: 0.8rem;
                        }

                        @media screen and (max-width: 205px) {
                            font-size: 0.6rem;
                        }
                    }

                    p {
                        font-family: $font1;
                        font-size: 1.3rem;

                        @media screen and (max-width: 355px) {
                            font-size: 1.1rem;
                        }

                        @media screen and (max-width: 309px) {
                            font-size: 1rem;
                        }

                        @media screen and (max-width: 205px) {
                            font-size: 0.8rem;
                        }
                    }
                }

                .dish-price {
                    p {
                        font-family: $font1;
                        font-weight: bold;
                        color: $color4;
                        font-size: 1.4rem;

                        @media screen and (max-width: 355px) {
                            font-size: 1.2rem;
                        }

                        @media screen and (max-width: 225px) {
                            font-size: 0.9rem;
                        }


                    }
                }
            }

            .one {
                grid-area: dish1;
            }

            .two {
                grid-area: dish2;
            }

            .three {
                grid-area: dish3;
            }

            .four {
                grid-area: dish4;
            }

            .five {
                grid-area: dish5;
            }

            .six {
                grid-area: dish6;
            }

            .seven {
                grid-area: dish7;
            }

            .eight {
                grid-area: dish8;
            }
        }
    }
}