.section-mine {
    position: relative;
    padding-bottom: 60px;
    z-index: 2;
    background: $black5;

    &__bandereau {
        background: url("../img/minebg2.jpg") center/cover;
        width: 101%;
        height: 600px;
        position: relative;

        @media screen and (max-width: 768px) {
            height: 400px;
        }

        @media screen and (max-width: 465px) {
            height: 310px;
            background: url("../img/minebg2.jpg") center/cover;
        }

        img {
            position: absolute;
            bottom: -1px;
            width: 102%;
            height: 250px;
            min-width: 880px;
        }
    }

    &__container {
        max-width: 1100px;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            padding: 0 50px;
        }

        @media screen and (max-width: 768px) {
            padding: 0;
        }

        &-main {
            display: grid;
            grid-template-columns: 50% 50%;

            @media screen and (max-width: 768px) {
                display: block;
                text-align: center;
                max-width: 500px;
                margin: 0 auto;
            }

            &-text {

                h2 {
                    font-size: 10rem;
                    letter-spacing: -10px;
                    margin-bottom: 10px;
                    line-height: 1.1;

                    @media screen and (max-width: 991px) {
                        font-size: 7.5rem;
                        letter-spacing: -6px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 5.6rem;
                        letter-spacing: -5px;
                        text-align: center !important;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 3.7rem;
                        letter-spacing: -4px;
                    }
                }

                h3 {
                    font-size: 2.8rem;
                    color: $greyf2;
                    line-height: 1.1;
                    letter-spacing: -2px;
                    margin-bottom: 30px;
                    max-width: 500px;

                    @media screen and (max-width: 768px) {
                        max-width: none;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 2.2rem;
                    }
                }

                p {
                    margin-bottom: 40px;
                    font-size: 1.2rem;
                    line-height: 1.4;
                    opacity: 0.8;
                    max-width: 540px;

                    @media screen and (max-width: 768px) {
                        max-width: none;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 1.1rem;
                    }
                }
            }

            &-img {

                img {
                    width: 36%;
                    min-width: 500px;
                    box-sizing: border-box;
                    position: absolute;
                    top: 500px;

                    @media screen and (max-width: 768px) {
                        position: inherit;
                        margin-top: 40px;
                    }

                    @media screen and (max-width: 575px) {
                        min-width: 50px;
                        width: 100%;
                    }

                    @media screen and (max-width: 500px) {}
                }
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin: 130px 0 100px;

            @media screen and (max-width: 767px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width: 333px) {
                margin: 50px 0 0px;
            }

            &-element {
                background: $grey2;
                padding: 26px 40px;
                max-width: 355px;
                border-radius: 10px;

                @media screen and (max-width: 1200px) {
                    max-width: 300px;
                }

                @media screen and (max-width: 991px) {
                    max-width: 220px;
                }

                @media screen and (max-width: 767px) {
                    max-width: 500px;
                    margin-bottom: 20px;
                }

                h4 {
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    line-height: 1.4;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 1rem;
                    margin: 0 auto;
                    line-height: 1.4;
                    opacity: 0.8;
                }
            }
        }
    }
}