.news {
    background: $black;
    @include childCenter(center);
    padding: 60px 0 120px;

    &__container {
        max-width: 1110px;


        @media screen and (max-width: 1199px) {
            max-width: 910px;
        }

        @media screen and (max-width: 991px) {
            max-width: 760px;
        }

        @media screen and (max-width: 767px) {
            max-width: 560px;
        }

        h2 {
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 25px;

            @media screen and (max-width: 991px) {
                text-align: center;
            }

            @media screen and (max-width: 450px) {
                font-size: 2.2rem;
            }
        }

        &-top {

            &-buttonsContainer {
                @include childCenter(space-between);
                margin-bottom: 30px;
                width: 1130px;

                @media screen and (max-width: 1199px) {
                    max-width: 930px;
                }


                @media screen and (max-width: 991px) {
                    max-width: 830px;
                }

                @media screen and (max-width: 950px) {
                    max-width: 570px;
                    margin: 0 auto;
                }

                @media screen and (max-width: 575px) {
                    max-width: 540px;
                    margin: 0 auto;
                }

                @media screen and (max-width: 545px) {
                    max-width: 250px;
                }

                &-btn {
                    padding: 50px 45px 20px 20px;
                    border-radius: 20px;
                    opacity: 0.8;
                    cursor: pointer;
                    transition: 0.3s ease;
                    display: block;

                    &--red {
                        background: url("../img/newsorange.png") center/cover;
                    }

                    &--green {
                        background: url("../img/newsteal.png") center/cover;

                        @media screen and (max-width: 545px) {
                            display: none;
                        }
                    }


                    &--blue {
                        background: url("../img/newsblue.png") center/cover;

                        @media screen and (max-width: 950px) {
                            display: none;
                        }
                    }


                    &--purple {
                        background: url("../img/newspurple.png") center/cover;

                        @media screen and (max-width: 1199px) {
                            display: none;
                        }
                    }

                    &:hover {
                        opacity: 1;
                        scale: 1.03;
                        border-radius: 17px;
                    }

                    h4 {
                        color: $blackf;
                        opacity: 0.6;
                    }

                    h2 {
                        font-size: 1.2rem;
                        padding-top: 6px;
                        max-width: 200px;
                        margin-bottom: 0;
                        line-height: 20px;
                        opacity: 1;
                    }
                }
            }

            &-partnairs {
                margin-top: 100px;
                @include childCenter(space-between);
                padding-bottom: 90px;
                border-bottom: 1px solid $grey1;
                flex-wrap: wrap;

                @media screen and (max-width: 991px) {
                    @include childCenter(center);
                    max-width: 700px;
                    margin: 100px auto;
                }

                @media screen and (max-width: 767px) {
                    max-width: 500px;
                    margin: 50px auto;
                    padding-bottom: 60px;
                }

                a {
                    transition: 0.2s;
                    transform: translate3D(0px, 100%, 0px);
                    opacity: 0;

                    @media screen and (max-width: 991px) {
                        margin: 10px;
                    }


                    &:hover {
                        opacity: 0.7;
                        scale: 0.95;
                    }

                    @keyframes newsAnim {
                        to {
                            transform: none;
                            opacity: 1;
                        }
                    }

                    img {
                        height: 25px;
                    }
                }
            }
        }

        &-bottom {
            @include childCenter(space-between);
            margin-top: 60px;

            @media screen and (max-width: 991px) {
                display: block;
                margin-top: 0px !important;
            }

            &-text {
                max-width: 450px;

                @media screen and (max-width: 991px) {
                    max-width: 700px;
                }

                @media screen and (max-width: 768px) {
                    text-align: center;
                }

                h2 {
                    line-height: 1.1;
                    letter-spacing: -2px;
                    margin-bottom: 30px;

                    @media screen and (max-width: 991px) {
                        text-align: left;
                    }

                    @media screen and (max-width: 768px) {
                        text-align: center;
                    }
                }

                p {
                    margin-bottom: 40px;
                    font-size: 1.2rem;
                    line-height: 1.4;
                    opacity: 0.8;
                }
            }

            &-numbers {
                text-align: right;
                margin-bottom: 40px;

                @media screen and (max-width: 991px) {
                    text-align: center;
                    margin-top: 40px;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 0px;
                }

                &-content {

                    h4 {
                        color: #888888;
                        font-size: 1rem;
                        text-transform: uppercase;
                        line-height: 1.4;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                        font-weight: 600;
                    }

                    h3 {
                        font-size: 2.8rem;
                        letter-spacing: 0;
                        margin-bottom: 10px;
                        line-height: 1.2;

                        @media screen and (max-width: 450px) {
                            font-size: 2.3rem !important;
                        }
                    }
                }
            }
        }
    }
}